/*navbar*/
#navbar {
    height:80px;
    /* background-color:#22333B; */
    background-color: #3F4739;
    color: white; 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: nowrap;
}

#logo {
    height:80px;
    width:95px;
}
#navbar a{
    color: white; 
    font-size: 25px;
    text-decoration: none;
    padding-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#navbar a:hover {
    text-decoration:underline;
}

#lastAnchor{
    margin-right: 50px;
}
@media (max-width:700px){
    #navbar a{
        font-size: 15px;
    }
    #lastAnchor{
        margin-right: 30px;
    }
}
.women-product{
    height:100vh;
    width: 97.6vw;
    margin-top: 30px;
    display: flex;
}
.women-product-pic{
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    margin-left: 30px;   
}
#women-product1-pic{
    background-image: url("box1.jpg");
    
}
#women-product2-pic{
    background-image: url("box2.jpg");
    
}
#women-product3-pic{
    background-image: url("wc3p3.jpg");
}
#women-product4-pic{
    background-image: url("wc4p4.jpg");
}
#women-product5-pic{
    background-image: url("wc5p5.jpg");
}
#women-product6-pic{
    background-image: url("wc6p6.jpg");
}
#women-product7-pic{
    background-image: url("wc7p7.jpg");
    margin-top: 50px;
    margin-left: 50px;
}
#women-product8-pic{
    background-image: url("wc8p8.jpg");
}
.women-product-content{
    height:70%;
    width:50%;
    display: inline-block;
    margin-left: 100px;
    margin-right: 0px;
}
#women-product2-content,#women-product3-content,#women-product5-content,#women-product6-content{
    margin-left: 25px;
}

#women-product7-content{
    margin-left: 10px;
}
#name{
    font-size: 30px;
}

#desc{
    font-size: 25px;
}

#rating{
    height:28px;
    width:50px;
    padding: 3px;
    font-size: 28px;
    display: flex;
}
#price{
    font-size: 35px;
    margin-bottom: 15px;
}
.colors{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.colorchoice{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(24, 23, 23);
    margin: 5px;
}
#p1c2{
    background-color: rgb(1, 1, 83);
}
#p2c2{
    background-color:#005B5C ;
}
#p2c3{
    background-color: #001F3F;
}
#p2c4{
    background-color: #800020;
}

#p3c1{
    background-color: #4169E1;
}
#p3c2{
    background-color: #800000;
}
#p3c3{
    background-color:#FFDB58;
}
#p4c1{
    background-color: #FFB6C1;
}
#p4c2{
    background-color: #FF69B4;
}
#p4c3{
    background-color: #D6A3B3;
}
#p5c1{
    background-color: #FF6F61;
}
#p5c2{
    background-color: #FFDAB9;
}
#p5c3{
    background-color: #98FF98;
}
#p7c1{
    background-color: #87CEEB;
}
#p7c2{
    background-color: #4169E1;
}
#p7c3{
    background-color: #001F3F;
}
#sizes{
    display: flex;
    align-items: center;
    font-size: 25px;
}
#size1,#size2,#size3,#size4,#size5{
    height: 50px;
    width:60px;
    /* background-color: aqua; */
    border: 2px solid rgba(0, 19, 37, 0.16) ;
    border-radius: 20%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 5px;
    margin: 5px;
}
#addtocart{
    font-size: 25px;
    height:60px;
    width:200px;
    box-sizing: border-box;
    padding: 5px;
    background-color: rgb(97, 113, 85);

}

#addtocart:hover{
    background-color:rgba(185,206,169,0.3) ;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
    .women-product {
        flex-direction: column; 
        align-items: center; 
        padding: 0 10px; 
    }

    .women-product-pic,
    .women-product-content {
        width: 70%; 
        text-align: left;
        box-sizing: border-box;
        font-size: 20px; 
    }
    
    .women-product-pic {
        margin-bottom: 20px;
        width: 70%; 
        height: 300px; 
        background-size: contain;
        background-position: center; /
    }
}